<article class="wrapper style1 align-left" style="letter-spacing: 1.5px;">
    
    <div class="inner">
      <!-- header头部 -->
      <div class="header">
        <h1 class="title" style="font-size:3vw"><%- post.title %></h1>
        <div class="stuff">
          <span style="font-size:20px; font-weight:bold; font-variant:small-caps; background-color: rgb(122, 57, 32); border-radius:25px; padding:2px 10px; text-align: center;"><%- date(post.date, 'MMMM DD, YYYY') %></span>
          <span style="font-size:20px; font-weight:bold; font-variant:small-caps; margin-left: 2cm; background-color: rgb(226, 182, 165); border-radius:25px; padding:2px 10px; text-align: center;">word counts: <%- strip_html(post.content).length %></span>
        </br></br>
        </div>
      </div>
      <div class="post-content">
        <%- post.content %>
      </div>
      
      <!-- 文章标签 -->
      <div class="tags">
        <span style="font-size:16px; font-weight:bold; background-color: rgb(4, 94, 86); border-radius:25px; padding:2px 10px; text-align: center;">TAG(S):</span>
        <% post.tags.each(function(tag){%>
          <a href="<%- url_for(tag.path) %>" class="tag" style="color: rgb(22, 184, 122);"><%= tag.name %></a>
        <% }) %>
      </div>
      <!-- 上一篇和下一篇 -->
      <hr>
      <div class="post-nav">
          <% if (post.prev){ %>
          <div class="post-nav-prev post-nav-item">
              <a href="<%- url_for(post.prev.path) %>" style="font-weight:bold; letter-spacing: 3px; color: dodgerblue;"><%= post.prev.title %> ··· <i class="fa fa-chevron-left"></i></a>
          </div>
          <% } %>
          <% if (post.next){ %>
          <div class="post-nav-next post-nav-item">
              <a href="<%- url_for(post.next.path) %>" style="font-weight:bold; letter-spacing: 3px; color: dodgerblue;"><%= post.next.title %> ··· <i class="fa fa-chevron-right"></i></a>
          </div>
          <% } %>
          </br></br>
      </div>
      <!-- valine评论 -->
      <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
      <script src='//cdn.jsdelivr.net/npm/leancloud-storage/dist/av-min.js'></script>
      <div id="vcomments"></div>
      <script async>
        var valine = new Valine();
        valine.init({
          el: '#vcomments',
          appId: '<%- theme.valine.API_ID %>',
          appKey: '<%- theme.valine.API_Key %>'
        })
        valine.Q(location.pathname.replace(/index\.html?$/, '')).count().then(num => {
          document.getElementById("valine-count").innerHTML = num;
        })
      </script>
    </div>
</article>