<div class="overlay"></div>
<div class="intrude-less">
	<header id="header" class="inner">
		<a href="/" class="profilepic">
			<% if (theme.animate){ %>
				<img lazy-src="<%=theme.avatar%>" class="js-avatar">
			<%}else{%>
				<img src="<%=theme.avatar%>" class="js-avatar" style="width: 100%;height: 100%;opacity: 1;">
			<%}%>
		</a>

		<hgroup>
			<h1 class="header-author"><a href="/"><%=config.author%></a></h1>
		</hgroup>

		<% if (config.subtitle){ %>
			<p class="header-subtitle"><%=theme.subtitle%></p>
		<%}%>

		<div class="switch-area">
			<div class="switch-wrap">
				<section class="switch-part switch-part1">
					<nav class="header-menu">
						<ul>
						<% for (var i in theme.menu){ %>
							<li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
				        <%}%>
						</ul>
					</nav>
					<nav class="half-header-menu">
						<a class="hide">Home</a>
						<a>Tags</a>
						<a>Links</a>
						<a>About</a>
					</nav>
					<nav class="header-nav">
						<div class="social">
							<% for (var i in theme.subnav){ %>
								<a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"><%= i %></a>
					        <%}%>
						</div>
						<!-- music -->
						<% if (theme.music && theme.music.enable) { %>
							<!-- <div style="position: absolute; bottom: 120px; left: auto; width: 85%;"> -->
							<div style="position: absolute; left: auto; width: 85%;">
								<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=220 height=86 src="//music.163.com/outchain/player?type=2&id=<%- theme.music.id %>&auto=1&height=66"></iframe>
							</div>
						<% } %>
					</nav>
				</section>
				
				<%if(theme.tagcloud){%>
				<section class="switch-part switch-part2">
					<div class="widget tagcloud" id="js-tagcloud">
						<%- tagcloud() %>
					</div>
				</section>
				<%}%>
				
				<%if(theme.friends && theme.friends.length != 0){%>
				<section class="switch-part switch-part3">
					<div id="js-friends">
					<% for (var i in theme.friends){ %>
			          <a target="_blank" class="main-nav-link switch-friends-link" href="<%- url_for(theme.friends[i]) %>"><%= i %></a>
			        <% } %>
			        </div>
				</section>
				<%}%>

				<%if(theme.aboutme){%>
				<%if(!theme.friends){%>
				<section class="switch-part switch-part3">
				<%}else{%>
				<section class="switch-part switch-part4">
				<%}%>
					<div id="js-aboutme"><%=theme.aboutme%></div>
				</section>
				<%}%>
			</div>
		</div>
	</header>				
</div>